.fab {
    border-radius: 100%;
    bottom: 50px;
    /* font-size: 30px; */
    padding: 20px 22px;
    position: fixed;
    right: 50px;
}

.fab-danger {
    border-radius: 100%;
    bottom: 50px;
    /* font-size: 30px; */
    padding: 20px 25px;
    position: fixed;
    left: 50px;
}